@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.titulo, .item{
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  