*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 50px;
    background-color: rgb(233, 165, 109);
}

.titulo{
    text-align: center;
}

.container-jogo{
    display: flex;
    justify-content: center;
}

.container{
    justify-content: space-between;
    border-radius: 15px;
    margin: 3%;
    height: 100px;
    display: flex;
    flex: 1;
}

.Item{
    width: 30%;
    font-size: 1.5rem;
}

